*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custon Properties */

:root {
  --ff-primary: "Montserrat";
  --ff-secondary: "Rubik";
  --ff-third: "Josefin Slab"

  --ff-reg: 300;
  --fw-bold: 900;

  --clr-light: #fcfcff;
  --clr-dark: #303030;
  --clr-dark-secondary: #303d44;
  --clr-accent: #e0ddef;
  --clr-accent-secondary: #3c6979;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* header */

header {
  display: flex;
  background: var(--clr-dark-secondary);
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  z-index: 3;
}

.logo {
  padding: 13px;
}

.nav__list {
  display: flex;
  margin: 13px;
  list-style: none;
}

.nav__link {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  color: var(--clr-accent);
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
}

/*  Intro section  */

.hero {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    background-color: var(--clr-dark-secondary);
    color: var(--clr-light);
    font: var(--ff-third);
    align-self: flex-start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

.mes-competences {
  text-align: center;
}

.section__title--competences{
  color: var(--clr-accent-secondary);
  position: relative;
}

.section__title--competences:after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.competences {
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  grid-gap: 4vw;
  gap: 4vw;
}

.competence__subtitle {
  font-size: var(--fs-h2);
  color: var(--clr-accent-secondary);
  font-weight: var(--fw-bold);
}

.competence__text {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  padding-top: 300px;
}




/* @media (min-width: 800px) {
  .competences {
    display: flex;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
} */




/* .portfolio {
  display: flex;
  justify-content: space-evenly;
  width: auto;
} */

/* footer */

.footer {
  background: var(--clr-dark-secondary);
  color: var(--clr-accent);
  text-align: center;
  padding: 0.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}
